* {
    margin: 0;
    width: 100%;
}

body {
    height: 200vh;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: .5fr 1fr 1fr;
    gap: 2rem;
}
.resetButton {
    width: 10rem;
}

.infoBar {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
}

.playerOneBoard {
    justify-self: center;
    background-color: lightgrey;
    grid-column: 1 / -1;
    grid-row: 2 / 3;
    padding-right: 4%;
    padding-bottom: 7%;
    width: 90%;
    height: 50%;

    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(11, 1fr);
}
.p1square {
    border: 1px solid blue;
    background-color: lightblue;
}

.playerTwoBoard {
    justify-self: center;
    background-color: lightgrey;
    grid-column: 1 / -1;
    grid-row: 3 / -1;
    padding-right: 4%;
    padding-bottom: 7%;
    width: 80%;
    height: 70%;

    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(11, 1fr);
}
.p2square {
    border: 1px solid blue;
    background-color: lightblue;
}

.hitSquare {
    background-color: red !important;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    text-align: center;
    font-size: x-large;
    font-weight: bold;

}

.missed {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    text-align: center;
    font-size: x-large;
    font-weight: bold;
}

.side {
    background-color: lightgrey;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
    font-weight: bold;
}