* {
    margin: 0;
    width: 100%;
}

body {
    height: 200vh;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: .5fr 1fr 1fr;
    gap: 2rem;
}

.resetButton {
    width: 10rem;
}

.infoBar {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
}

.shipContainer {
    background-color: rgb(179, 215, 237);
    height: 15rem;
    width: 100%;  
    gap: 1rem;
}

.shipThree {
    background-color: lightcoral;
    width: 2rem;
    height: 4rem;
    display: grid;
    grid-template-rows: 33% 33% 33%;
} 
/*TODO: seperate boats/make ship container look nice*/
#patrolBoat {
    background-color: lightcoral;
    width: 2rem;
    height: 3rem;
    display: grid;
    grid-template-rows: 50% 50%;
}
.shipSquare {
    background-color: lightgoldenrodyellow;
    border: 2px solid lightgray;
}

.playerOneBoard {
    justify-self: center;
    background-color: lightgrey;
    grid-column: 1 / -1;
    grid-row: 2 / 3;
    width: 90%;
    height: 100%;

    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
}
.p1square {
    border: 1px solid blue;
    background-color: lightblue;
}

.playerTwoBoard {
    justify-self: center;
    background-color: lightgrey;
    grid-column: 1 / -1;
    grid-row: 3 / -1;

    width: 90%;
    height: 100%;

    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
}
.p2square {
    border: 1px solid blue;
    background-color: lightblue;
}

.hitSquare {
    background-color: red !important;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    text-align: center;
    font-size: x-large;
    font-weight: bold;

}

.missed {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    text-align: center;
    font-size: x-large;
    font-weight: bold;
}

.side {
    background-color: lightgrey;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
    font-weight: bold;
}
.boardSide {
    background-color: lightgrey;
}

.selectedSquare {
    background-color: black;
}